<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bitly-api-app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEFE9AF41E76491A009BABF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEFE9B081E76491B009BABF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEFE9B131E76491B009BABF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
